@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 6px;
  width: 5px;
  background: #f8f8f7;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
